{
	"Twitter" : {
		"consumer_key" : "",
		"consumer_secret" : "",
		"access_token" : "",
		"access_token_secret" : ""
	},
	"YahooJapan" : {
		"affiliate_id" : "",
		"application_key" : ""
	},
	"MongoDB" : {
		"exec" : false,
		"database" : "yahoo_auction",
		"collection" : "search_result"
	}
}
